<h1>Frutería - Índice</h1>
<ul>
    <li><a href="{% url 'inventario:categoria_list' %}">Categorías</a></li>
    <li><a href="{% url 'inventario:proveedor_list' %}">Proveedores</a></li>
    <li><a href="{% url 'inventario:fruta_list' %}">Frutas</a></li>
    <li><a href="{% url 'inventario:cliente_list' %}">Clientes</a></li>
    <li><a href="{% url 'inventario:pedido_list' %}">Pedidos</a></li>
    <li><a href="{% url 'inventario:inventario_detalle' %}">Inventario</a></li>
    <li><a href="{% url 'inventario:descuento_list' %}">Descuentos</a></li>
</ul>
